/* Estilos del botón de contacto */
.boton-enlace {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff8000; /* Cambiamos el color del botón para que resalte más */
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Añadimos transición para un efecto suave al pasar el ratón */
}

.boton-enlace:hover {
  background-color: #e67300; /* Cambiamos el color del botón al pasar el ratón sobre él */
}

/* Estilos del encabezado */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  width: 100%;
}

/* Estilos del pie de página */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100%;
  margin-top: 30px; /* Añadimos un margen superior para separar el footer del contenido */
}
