body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px; /* A침adir espacio alrededor del texto */
  border-radius: 5px; /* Esquinas redondeadas */
  transition: background-color 0.3s ease-in-out; /* Animaci칩n de cambio de color al pasar el cursor */
}

nav ul li a:hover {
    background-color: rgba(255,255,255,0.2); /* Cambiar el color de fondo al pasar el cursor */
}

main {
  text-align: left;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

.texto-centro {
    text-align: center;
}

.btn-whatsapp,
.boton-enlace {
    display: block;
    width:200px; 
    margin:20px auto; 
    text-align:center; 
    background-color:#007bff; 
    color:#fff; 
    padding:10px; 
    border-radius:5px; 
    text-decoration:none; 
    transition: background-color 0.3s ease-in-out; /* Animaci칩n de cambio de color al pasar el cursor */
}

.btn-whatsapp:hover,
.boton-enlace:hover {
    background-color:#0056b3; 
}

footer {
    background-color:#333; 
    color:#fff; 
    text-align:center; 
    padding:10px; 
    animation-name: slideDownFooter; /* Animaci칩n de deslizamiento */
    animation-duration:1s;
    animation-timing-function:ease-in-out;
}

footer p{
    margin-bottom:-10px; 
}

footer a{
    color:#fff; 
    text-decoration:none; 
    font-weight:bold; 
    font-size:.8em; 
}

footer a:hover{
    text-decoration:none; 
    color:#007bff; 
}

@keyframes slideDownFooter {
   from {
       transform: translateY(-100%);
   }
   to {
       transform: translateY(0);
   }
}
