body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  flex-grow: 1;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.btn-whatsapp,
.boton-enlace {
    display: block;
    width:200px; 
    margin:20px auto; 
    text-align:center; 
    background-color:#007bff; 
    color:#fff; 
    padding:10px; 
    border-radius:5px; 
    text-decoration:none; 
}

.btn-whatsapp:hover,
.boton-enlace:hover {
    background-color:#0056b3; 
}

footer {
    background-color:#333; 
    color:#fff; 
    text-align:center; 
    padding:10px; 
    animation-name: slideDownFooter;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

footer p{
    margin-bottom:-10px; 
}

footer a{
    color:#fff; 
    text-decoration:none; 
    font-weight:bold; 
    font-size:.8em; 
}

footer a:hover{
    text-decoration:none; 
    color:#007bff; 
}

@keyframes slideDownFooter {
   from {
       transform: translateY(-100%);
   }
   to {
       transform: translateY(0);
   }
}
