body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px; /* Añadir espacio alrededor del texto */
  border-radius: 5px; /* Esquinas redondeadas */
  transition: background-color 0.3s ease-in-out; /* Animación de cambio de color al pasar el cursor */
}

nav ul li a:hover {
    background-color: rgba(255,255,255,0.2); /* Cambiar el color de fondo al pasar el cursor */
}

.imagen-responsiva {
    max-width: 100%;
    height: auto;
}


main {
    text-align: left;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

.texto-centro {
    text-align: center;
}

@keyframes cambio-color {
    0% { color: #000; }
    50% { color: #ff0000; }
    100% { color: #000; }
}

.texto-animado {
    animation: cambio-color 3s infinite;
}

.btn-whatsapp,
.boton-enlace {
    display: block;
    width:200px; 
    margin:20px auto; 
    text-align:center; 
    background-color:#007bff; 
    color:#fff; 
    padding:10px; 
    border-radius:5px; 
    text-decoration:none; 
    transition: background-color 0.3s ease-in-out; /* Animación de cambio de color al pasar el cursor */
}

.btn-whatsapp:hover,
.boton-enlace:hover {
    background-color:#0056b3; 
}

form {
    max-width:600px; /* Ajustar el ancho máximo del formulario */
    margin:auto; /* Centrar el formulario en la página */
    padding:20px; /* Añadir espacio interno al formulario */
    background-color:#f9f9f9; /* Color de fondo del formulario */
    border-radius:5px; /* Esquinas redondeadas */
}

form label {
    display:block; /* Mostrar las etiquetas en una línea separada */
    margin-bottom:10px; /* Espacio entre etiquetas y campos de entrada */
}

form input,
form textarea,
form button {
    width:100%; /* Ancho completo para los campos de entrada y botón */
    padding:10px; /* Añadir espacio interno a los elementos */
    margin-bottom:10px; /* Espacio entre elementos */
    border-radius:5px; /* Esquinas redondeadas */
}

form button {
    background-color:#007bff; 
    color:#fff; 
    border:none; 
    cursor:pointer; 
}

form button:hover {
    background-color:#0056b3; 
}

footer {
    background-color:#333; 
    color:#fff; 
    text-align:center; 
    padding:10px; 
}

.content {
  text-align: center;
  padding: 50px;
}

button {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
}
