/* Estilos generales */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Estilos del encabezado */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.logo {
  margin-right: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

img {
  display: block;
  margin: 0 auto;
}

/* Estilos del contenido principal */
main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

h1, h2 {
  color: #333;
}

.texto-centro {
  text-align: justify;
}

/* Estilos del formulario de contacto */
form {
  max-width: 400px;
  margin: 0 auto;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos del bot칩n de contacto */
.boton-enlace {
  display: block;
  width: 100%;
  padding: auto;
  background-color: blue;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}

/* Estilos del pie de p치gina */
footer {
  position: relative;
}

/* Media query para el bot칩n de contacto en vista m칩vil */
@media (min-width: 480px) {
  .boton-enlace {
    display: inline-block;
    width: auto;
  }
}

/* Estilos del enlace del aviso legal */
#aviso-legal {
  position: relative;
  margin-top: 20px;
}
